@import "tailwindcss";

@theme {
  --color-*: initial;

  --color-Neutral-0: hsl(0, 0%, 100%);
  --color-Neutral-300: hsl(252, 6%, 83%);
  --color-Neutral-500: hsl(245, 15%, 58%);
  --color-Neutral-700: hsl(245, 19%, 35%);
  --color-Neutral-900: hsl(248, 70%, 10%);
  --color-Orange-500: hsl(7, 88%, 67%);
  --color-Orange-700: hsl(7, 71%, 60%);
}

@layer components {
  .user-input {
    @apply border border-Neutral-300 rounded-lg p-3 bg-Neutral-300/20;
  }

  .imageFix {
    @apply text-Neutral-300 bg-none bg-Neutral-500/30 py-1 px-2.5 rounded-md;
  }

  .input-container {
    @apply flex flex-col gap-2 w-full;
  }
}
